body {
  overflow: hidden;
  margin: 0;
  transition: background 0.2s linear;
}
body.dark {
  background-color: #292c35;
}

.btn {
  margin: 10px;
  background-color: aqua;
  border-radius: 10px;
}

.button-grp {
  padding: 10px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-grp {
  bottom: 0;
  padding: 10px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .canvas {
  position: relative;
} */
